<div class="navbarOT">
  <div class="mt-2 ms-4">
    <a
      class="navbar-brand"
      href="https://www.instagram.com/djnickwarren/?hl=es"
      target="_blank"
    >
      <img
        src="assets/instagram.png"
        alt=""
        width="30"
        height="30"
        class="d-inline-block align-text-top"
      />
      Instagram
    </a>
  </div>

  <div class="mt-2 ms-4">
    <a
      class="navbar-brand"
      href="https://uk.linkedin.com/in/nick-warren-27476785?trk=people-guest_people_search-card"
      target="_blank"
    >
      <img
        src="assets/logotipo-de-linkedin.png"
        alt=""
        width="30"
        height="30"
        class="d-inline-block align-text-top"
      />
      LinkedIn
    </a>
  </div>
  <div class="mt-2 ms-4">
    <a
      class="navbar-brand"
      href="https://twitter.com/DJNickWarren?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
      target="_blank"
    >
      <img
        src="assets/gorjeo.png"
        alt=""
        width="30"
        height="30"
        class="d-inline-block align-text-top"
      />
      Twitter
    </a>
  </div>
</div>
