.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu content content content content content";
}

.grid-navbar {
  grid-area: header;
}

.grid-toolbar {
  grid-area: menu;
  background-color: dodgerblue;
}
.grid-content {
  grid-area: content;
  background-color: lightblue;
}
